
@{
    ViewBag.Title = "Coordinate";

}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv_kSlTEwyT-p9FurjHvmftzFd6JLw_yE&callback=initMap"> </script>

<script type="text/javascript">
    function initMap() { var uluru = { lat: -25.363, lng: 131.044 }; var map = new google.maps.Map(document.getElementById('map'), { zoom: 4, center: uluru }); var marker = new google.maps.Marker({ position: uluru, map: map }); }
</script>
<h2>Coordinate</h2>
<div id="map"></div>

