@*@model List<GetOutFromSmog_.Models.ParseJsonToList>*@
<script src="~/Scripts/jquery-3.1.1.js"></script>
<p id="demo"></p>
<script type="text/javascript">
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var _range = parseFloat($(".range").val());
                $.ajax({
                    url: '@Url.Action("Coordinate", "Home")',
                    data: { 'lat': position.coords.latitude, 'lon': position.coords.longitude, 'range': _range },
                    type: "post",
                    cache: false,
                    success: function (response) {
                        var currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        var myLatlng = new google.maps.LatLng(response.lat, response.lon);
                        var mapOptions = {
                            zoom: 10,
                            center: myLatlng
                        }
                        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            title: "The cleanest air.",
                            map: map
                        });

                        var marker = new google.maps.Marker({
                            position: currentLocation,
                            title: "Current location.",
                            map: map
                        });
                        $("#position").text(response.station);
                    },
                    error: function (thrownError) {
                        alert('Something was wrong');
                    }
                });
            });
        }
    };
</script>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script type="text/javascript">
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var uluru = { lat: position.coords.latitude, lng: position.coords.longitude };
                var map = new google.maps.Map(document.getElementById('map'), { zoom: 10, center: uluru });
                var marker = new google.maps.Marker({ position: uluru, map: map })
            }
            )
        }
    };
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv_kSlTEwyT-p9FurjHvmftzFd6JLw_yE&callback=initMap"> </script>


<b>The range in which to look(km):</b><input type="number" class="form-control range" />

<button class="btn btn-success" onclick="getLocation()">Find the best place</button>

<div id="map"></div>
<div style="font:200%; text-align:center">
    The cleanest air is on
    <div id="position">
    </div>
</div>